<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Login</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
	crossorigin="anonymous">
	
</script>
<script type="text/javascript">
	$(function() {
		$("#createAccount").click(function() {

			window.location.href = "/register";
		});
	});
</script>
</head>

<body>
	<div class="container">
		<div class="card">
			<div class="card-header"><h2>Please Login</h2></div>
			<div class="card-body">
				<form action="" method="post">
							<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}" />

							<div th:if="${param.error!=null}">
								<div class="alert alert-danger" role="danger">
									<p>Failed to login.</p>
								</div>
							</div>
							<div th:if="${param.logout!=null}">
								<div class="alert alert-info">You have been logged out.</div>
							</div>

							<div class="form-group row">
								<label for="username" class="col-12  col-sm-3 col-md-2 col-form-label">E-mail</label>
								<div class="col-12 col-sm-9 col-md-10 col-lg-10">
									<input type="text" class="form-control plaintext" id="username"
										value="email@example.com" />
								</div>

							</div>
							<div class="form-group row">
								<label for="password" class="col-12  col-sm-3 col-md-2 col-form-label">Password</label>
								<div class="col-12 col-sm-9 col-md-10 col-lg-10">
									<input type="password" id="password" class="form-control"
										name="Password" />
								</div>
							</div>

							<div class="row">
								<div class="col-6">
									<button type="submit" class="btn-primary btn-lg">Log in</button>
								</div>
								<div class="col-6">
									<button type="button" class="btn-info btn-lg float-right"
										id="createAccount">Create an Account</button>
								</div>

							</div>
						</form>
			
			</div>
		</div>


	</div>

</body>

</html>